In [38]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
y_size = 10
x_size = 10

In [27]:
left_bottom = [0, 10]
right_bottom = [10, 8]
apex = [5, 0]

In [28]:
fit_left = np.polyfit((left_bottom[0], apex[0]), (left_bottom[1], apex[1]), 1)
fit_right = np.polyfit((right_bottom[0], apex[0]), (right_bottom[1], apex[1]), 1)
fit_bottom = np.polyfit((left_bottom[0], right_bottom[0]), (left_bottom[1], right_bottom[1]), 1)

### Slope and Intercept

In [29]:
print(fit_left)
print(fit_right)
print(fit_bottom)

[-2. 10.]
[ 1.6 -8. ]
[-0.2 10. ]

In [30]:
XX, YY = np.meshgrid(np.arange(0, x_size),
                     np.arange(0, y_size))

In [31]:
XX.shape

(10, 10)

In [32]:
YY.shape

(10, 10)

In [33]:
XX

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [34]:
YY

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
       [5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
       [6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
       [7, 7, 7, 7, 7, 7, 7, 7, 7, 7],
       [8, 8, 8, 8, 8, 8, 8, 8, 8, 8],
       [9, 9, 9, 9, 9, 9, 9, 9, 9, 9]])

In [36]:
region_thresholds = (YY > (XX*fit_left[0] + fit_left[1])) & \
                    (YY > (XX*fit_right[0] + fit_right[1])) & \
                    (YY < (XX*fit_bottom[0] + fit_bottom[1]))

In [42]:
pd.DataFrame(region_thresholds)

       0      1      2      3      4      5      6      7      8      9
0  False  False  False  False  False   True  False  False  False  False
1  False  False  False  False  False   True  False  False  False  False
2  False  False  False  False   True   True   True  False  False  False
3  False  False  False  False   True   True   True  False  False  False
4  False  False  False   True   True   True   True   True  False  False
5  False  False  False   True   True   True   True   True   True  False
6  False  False   True   True   True   True   True   True   True  False
7  False  False   True   True   True   True   True   True   True   True
8  False   True   True   True   True   True   True   True   True   True
9  False   True   True   True   True  False  False  False  False  False